
  .boton-numero{
    width: 33%;
    height:25%;
    min-width: 10px;
    background-color: rgb(88, 156, 131);
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 5px;
    text-shadow:  1px 1px 1px black;
  }
  
  .boton-punto{
    width: 67%;
    height:25%;
    background-color:rgb(80, 154, 127);
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    text-shadow:  1px 1px 1px black;
  } 
  
  
  .boton-borrar{
    width: 50%;
    height: 25%;
    font-size: 27px;
    color: rgb(0, 63, 37);
    background-color:rgb(155, 155, 155);
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 5px;
    text-shadow:  1px 1px 1px black;
    
    
  }
  
  .boton-signo{
    width: 50%;
    height: 25%;
    background-color: rgb(155, 155, 155);
    color: rgb(0, 130, 76);
    font-weight: bolder;
    font-size:30px;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow:  1px 1px 1px black;
    border-radius: 5px;
    
  }
  
  .boton-igual{
    width: 100%;
    height: 25%;
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(155, 155, 155);
    color: rgb(0, 130, 76);
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 5px;
    text-shadow:  1px 1px 1px black;
  }
  