.keyboard{
  height: 73%; 
  width: 91%;
  display: flex;
  justify-content: center;
  border-color: black;
  border-width: 1px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 0%;
  background-color:rgb(117, 117, 117) ;
}

.div-numbers{
    height: 100%;
    width:55%;
}

.div-signs{
  height: 100%;
  width: 45%;
}

