.teclado{
    border-color: black;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(129, 129, 129) ;
}

.div-nros{
    height: 300px;
    width:170px;
}

.div-signos{
  height: 300px;
  width: 130px;
}

